/******************************************************************************\
|                                                                              |
|                                  styles.css                                  |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the visual styles used in this application.              |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.md', which is part of this source code distribution.         |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2025, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

body {
	display: flex;
	flex-direction: column;
	font-family: 'Red Hat Text', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 14px;
}

.header {
	display: flex;
	height: 35px;

	.brand {
		font-size: 13.2px;
		margin: auto;
		margin-left: 15px;
	}
}

.header-bar {
	padding: 20px;

	.title {
		font-family: 'Red Hat Display', sans-serif;
		font-size: 30px;
		font-weight: bold;
	}
}

.btn {
	i {
		color: black;
		margin: 0;
		font-size: 1.25em;
		line-height: 1.25em;
	}

	&:focus {
		outline: none !important;
	}
}

.btn-sm {
	width: 30px;
	height: 30px;
	padding: 0;
	margin: auto 10px
}

.logo {
	height: 40px;
	float: left;
}

.title {
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin: 0 20px;
	margin-right: 40px;
}

.tab-panel {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: auto;
	float: left;
}

.chart {
	width: 100%;
	flex-grow: 1;
}

.updated {
	text-align: center;
	margin: 10px;
}

.pie.chart {
	width: 300px;
	height: 300px;
	margin: auto;
}

.footer {
	text-align: center;
	padding: 10px;
	margin: 0;
	border: none;
	border-radius: 0;
}

.tab-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.tab-pane {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		visibility: hidden;

		&.active {
			visibility: visible;
		}
	}
}

.charts.container {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: auto;

	.chart {
		height: 100%;

		.plotly {
			height: 100%;

			.svg-container {
				height: 100%;
			}
		}
	}
}

a {
	text-decoration: underline;
}

.nav-tabs {
	li.active a:focus {
		outline: none;
	}
}